.navbar {
  background-color: #ffdc57;
  height: 10vh;
  min-height: 10vh;
}

.storyTeller {
  font-family: 'Rancho', cursive;
  font-weight: 700;
  font-size: 2em;
  color: #8847C4;
}

.mainStoryDisplay {
  height: 80vh;
  border: solid 2px #8847C4;
  display: flex;
  justify-content:center;
  align-items:center;
}

.myStoryList {
  height: 80vh;
  border: solid 2px #8847C4;
}

.storyLibrary {
  height: 40vh;
  border: solid 2px #8847C4;
}

.overflow-scroll {
  overflow: scroll;
}

