.navbar {
  background-color: #ffdc57;
  height: 10vh;
}

.title {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5em;
  color: #8847C4;
}

.storyTeller {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #8847C4;
}

.mainStoryDisplay {
  height: 60vh;
  border: solid 2px #8847C4;
}

.myStoryList {
  height: 60vh;
  border: solid 2px #8847C4;
}

.storyLibrary {
  height: 30vh;
  border: solid 2px #8847C4;
}

