.title {
  margin-top: 15px;
  text-align: center;
  font-family: 'Rancho', cursive;
  font-size: 1.5em;
  color: #8847C4;
}

.story-title {
  font-style: italic;
  color: #787878;
  cursor: pointer;
}

.margin-bottom {
  margin-bottom: 10px;
}

.read {
  margin-right: 5px;
  color: #8847C4;
}

